{% extends 'base.html' %}
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.username.label }} {{ form.username(class="form-control") }}</div>
    <div class="form-group">{{ form.password.label }} {{ form.password(class="form-control") }}</div>
    <div class="form-check">{{ form.remember_me() }} {{ form.remember_me.label }}</div>

    <div class="d-flex gap-2 mt-3">
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">Sign Up</a>
    </div>
  </form>
{% endblock %}
