{% extends 'base.html' %}
{% block content %}
  <h2>Task Detail</h2>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
    <div class="form-group">{{ form.description.label }} {{ form.description(class="form-control") }}</div>
    {% if task.attachment %}
      <p>Attachment: <a href="{{ url_for('tasks.uploaded_file', filename=task.attachment) }}">{{ task.attachment }}</a></p>
    {% endif %}
    <div class="form-group">{{ form.attachment.label }} {{ form.attachment() }}</div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}
